<header class="flex justify-between items-center mx-auto py-3 w-[1200px]">
    <span class="w-12">MM</span>

    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/proyects">Proyects</a>
        <a href="/contact">Contacts</a>
    </nav>
</header>