---
import { Image } from "astro:assets";
import LanguagePicker from "@/components/LenguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<header class="fixed w-full px-8 z-20 " id="top">
    <div
        class="flex justify-between items-center w-full mx-auto max-w-screen-xl py-4"
    >
        <!-- Logo -->
        <div class="flex md:flex-grow md:basis-0">
            <a href="/">
                <span>
                    <Image
                        src="/assets/MarlonMoraLogo.svg"
                        alt="Marlon Mora Icon"
                        loading="eager"
                        class="w-10"
                        width={40}
                        height={40}
                    />
                </span>
            </a>
        </div>


        <div class="w-12 md:hidden">
            <img src="/assets/menu-alt-01-svgrepo-com.svg" alt=""/>
        </div>

        <nav class="hidden md:flex md:flex-row md:gap-x-10 md:text-xl">
            <a href="#top">{translation("nav.home")}</a>
            <a href="#about">{translation("nav.about")}</a>
            <a href="#proyects">{translation("nav.proyects")}</a>
            <a href="#contact">{translation("nav.contact")}</a>
        </nav>

        <div class="hidden md:flex md:justify-end md:flex-grow md:basis-0">
            <LanguagePicker />
        </div>
    </div>
</header>

<script>

</script>
