<header class="px-16">
    <div class="w-full mx-auto max-w-[1200px] flex justify-between py-6 ">
        <span class="w-12">MM</span>

        <nav class="hidden md:flex flex-row gap-x-10 text-xl">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/proyects">Proyects</a>
            <a href="/contact">Contacts</a>
        </nav>
    </div>
</header>