---
import Section from "./Section.astro";
---

<Section>
    <div class="container">
        <div class="info">
            <h1>Hola mundo</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                et praesentium placeat! Doloremque officiis quae a in minima
                molestias modi nemo mollitia facere eaque aspernatur tempora,
                harum ipsam non vel.
            </p>
        </div>

        <div class="figure">
            <figure>
                <img
                    src="/assets/Marlon_Photo.webp"
                    alt="Marlon Mora"
                />
            </figure>
        </div>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .info {
        width: 60%;
    }

    .figure {
        display: flex;
        justify-content: center;
    }

    figure {
        max-width: 400px;
        max-height: 100%;
    }

    img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }

    h1 {
        font-size: 3.5rem;
    }

    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .info {
            width: 100%; /* Ocupa todo el ancho disponible */
        }
    }
</style>
