---
import { Image } from "astro:assets";
import Section from "@/components/Section.astro";
import MarlonMoraPhoto from "public/assets/MarlonMoraPhoto.webp";
import LinkedInIcon from "@/Icons/LinkedInIcon.astro";
import GithubIcon from "@/Icons/GithubIcon.astro";
import SocialIcon from "@/components/SocialIcons.astro";
import { getI18n } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Section class="mt-20">
    <div class="flex justify-between items-center lg:items-start flex-col lg:flex-row gap-0 lg:gap-6">
        <div class="flex justify-between flex-col lg:max-w-[480px] min-[1150px]:max-w-2xl">
            <h1 class="text-5xl font-bold pb-5 order-2">Marlon Mora</h1>
            <h2 class="text-3xl font-bold pb-2 order-1">{i18n.HERO.GREETING}</h3>
            <h3 class="text-2xl text-wrap order-3">{i18n.HERO.DESCRIPTION}</h2>

            <nav class="flex justify-start items-center gap-x-4 py-5 order-4">
                <SocialIcon
                    href="https://www.linkedin.com/in/marlon-mora-2a4309250/"
                    class="hover:scale-110 transition"
                    title="LinkedIn"
                >
                    <LinkedInIcon class="size-8" />
                </SocialIcon>

                <SocialIcon
                    href="https://github.com/MarlonMora23"
                    class="hover:scale-110 transition"
                    title="GitHub"
                >
                    <GithubIcon class="size-8" />
                </SocialIcon>
            </nav>

            <div
                class="flex justify-center items-center pt-10 lg:justify-start order-5"
            >
                <a
                    href="#proyects"
                    class="text-white bg-blue-700 hover:bg-blue-800 hover:scale-105 transition font-medium rounded-lg text-xl px-10 md:px-20 lg:px-8 py-2.5 me-2 mb-2"
                    >{i18n.HERO.CTA_TEXT}</a
                >
            </div>
        </div>

        <div class="flex justify-center w-full max-w-[400px] md:max-w-[500px] lg:max-w-[600px] mt-10 lg:mt-0">
            <figure>
                <Image
                    class="hero-img fadeInMove"
                    src={MarlonMoraPhoto}
                    alt="Marlon Mora"
                    loading="eager"
                />
            </figure>
        </div>
    </div>
</Section>

<style>
    .hero-img {
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.4));
    }

    .fadeInMove {
        opacity: 0;
        transform: translateY(20px);
        animation: moveUp 0.5s linear forwards;
    }

    h1 {
        background: linear-gradient(
            to right,
            #1867ce 10%,
            #1159b8 20%,
            #004aad 30%,
            #002168 40%,
            #000000 50%,
            #002168 60%,
            #004aad 70%,
            #1159b8 80%,
            #1867ce 90%,
            #1867ce 100%
        );
        background-size: 200%;
        color: transparent;
        background-clip: text;
        animation: shine 8s linear infinite;
    }

    @keyframes moveUp {
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }
</style>
